body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
}

header ol {
    font-size: 18px;
    color: #EFE7EB;
}

.introductory-container {
    background-color: #1F2937;
}

.introductory-container h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.introductory-container p {
    font-size: 18px;
    color: #E5E7EB;
}