body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
}

.navigation-bar {
    display: flex;
    align-content: center;
    align-items: center;
}

.navigation-bar ol {
    display: flex;
    justify-content: space-between;
    gap: 8em;
    list-style-type: none;
    font-size: 18px;
}

.navigation-bar ol li a {
    color: #EFE7EB;
    text-decoration: none;
}

.introductory-container {
    background-color: #1F2937;
}

.introductory-container h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.introductory-container p {
    font-size: 18px;
    color: #E5E7EB;
}